.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 24%;
  }

.display {
   
    padding: 10px;
    text-align: center;
}
.input {
    margin-left: 40%;
}
.div {
    margin-top: 5%;
}
.th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
  }
    
